#{set title:'Stelper' /}
#{extends 'main.html'/}
#{stylesheet src:'main.css'/}
<div id="mainContent">

<h1>Validation sample 1</h1>

#{ifErrors}
<div class="error">
    <h2>Oops, please correct these errors</h2>
    <ul>
        #{errors}
            <li>${error}</li>
        #{/errors}
    </ul>
</div>
#{/ifErrors}

#{form @Application.handleSubmit()}
<fieldset>
    <legend>User informations</legend>

    <div class="field">
        <label for="username">Desired username : </label>
        <input id="username" type="text" name="username" value="${params.username}" />
    </div>

    <div class="field">
        <label for="firstname">First name : </label>
        <input id="firstname" type="text" name="firstname" size="30" value="${params.firstname}" />
    </div>

    <div class="field">
        <label for="lastname">Last name : </label>
        <input id="lastname" type="text" name="lastname" size="30" value="${params.lastname}" />
    </div>

    <div class="field">
        <label for="birthdate">Birthdate : </label>
        <input id="birthdate" type="text" name="age" size="3" value="${params.birthdate}" />
    </div>

    <div class="field">
        <label for="about">Tell about yourself : </label>  <br>
        <TEXTAREA id="about" NAME="about" COLS=40 ROWS=4 value="${params.about}" />
        </TEXTAREA>

    </div>

    <div class="field">
        <label for="country">Country : </label>
        <input id="country" type="text" name="country" size="3" value="${params.country}" />
    </div>

    <div class="field">
        <label for="city">City : </label>
        <input id="city" type="text" name="city" size="3" value="${params.city}" />
    </div>

</fieldset>
<fieldset>
    <legend>Password</legend>

    <div class="field">
        <label for="password">Password : </label>
        <input id="password" type="password" name="password" value="${params.password}" />
    </div>


</fieldset>
<fieldset>
    <legend>Email</legend>

    <div class="field">
        <label for="email">Email address : </label>
        <input id="email" type="text" name="email" size="30" value="${params.email}" />
    </div>

</fieldset>


<input type="submit" class="submit" value="Join !" />
#{/form}

</div>
