body {
    background: #d9d9d9;
    padding: 0;
    margin: 0;
}

#body {
    height: 100%;
    width: 100%;
    position: absolute;
}

#header {
    width: 100%;
    height: 87px;
    background: #666666;
    position: relative;
}

#footer {
    bottom: 0;
    position: relative;
    background: #666666;
    width: 100%;
    height: 10%;
}

#logo {
    height: 100%;
    width: 100px;
    background: #f0f8ff;
    float: left;
}

#login {
    height: 100%;
    width: 150px;
    float: right;
    background: #7fffd4;
}

.logoSpan {
    position: relative;
}

.topLinks {
    top: 27px;
    position: relative;
    left: 10px;
    width: 70%;
    font-size: 1.5em;
}

#searchPanel {
    clear: both;
    width: 100%;
    height: 150px;
    background: #a9a9a9;
}

#mainContent {
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    min-height: 78%;
}

p {
    padding: 0;
    margin: 0;
}

fieldset {
    border: 1px solid #888;
    margin-bottom: 1em;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    width: 200px;
    float: left;
    cursor: pointer;
}

input[type=text], input[type=password] {
    border: 1px solid #aaa;
    float: left;
    margin-right: 5px;
}

.field {
    clear: both;
    margin-bottom: 2px;
}

.infos {
    color: #666;
    margin-bottom: 5px;
}

.error {
    color: #c00;
}

.hasError {
    background: pink;
}

.commentTree {
    margin: 5px;
    padding: 5px;
    border: solid thin black;
}

.post {
    border: solid thin black;
    margin: 15px;
    padding: 15px;
}

.author {
    float: right;
    position: relative;
    top: -15px;
}

.newCommentTree {
    padding-bottom: 0px;
}

.reply {
    position: relative;
    left: -50px;
    top: -20px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.newSubComment {
    position: relative;
}