#{extends 'stelper.html'/}
<div>
    <div style="border: solid thin black;">
        <span>Posted At : ${post.postedAt.format("dd.MM.yyyy,HH:mm:ss")}</span>
        <span>${post.type}</span>
        #{list items:post.posts , as:'langPost'}
        <h3>${langPost.title}</h3>

        <p>${langPost.body}</p>
        <br>

        <div id="commentTrees">
            <h4>Comments</h4>
            #{list langPost.commentTrees, as:'commentTree'}
            <div id="comments" style="border: solid thin black;">
                #{list commentTree.comments ,as:'comment'}
                <div class="comment">
                    <span>${comment.postedAt.format("dd.MM HH:mm")}</span>

                    <p>
                        ${comment.body}
                    </p>
                    <span>by ${comment.author.username}</span>
                </div>
                #{/list}
            </div>
            #{/list}
        </div>
        #{/list}
    </div>
    <div> #{addComment /}</div>
</div>