#{set title:'Stelper' /}
#{extends 'frontPage.html'/}
<div>
	<h1>
		Meet the Creators!
	</h1>

	<h3>Risto-Magneto group of Tarkvaratehnika(IDK0071) @ TUT</h3>

	<div class="well well-large contacts">
		<div class="contact">
			<div class="contact-inner">
				Konstantin Malyshev <br>
				ruzard@ruzard.com
			</div>
		</div>

		<div class="contact">
			<div class="contact-inner">
				Irina Degtjareva <br>
				Ira-email@server.domen
			</div>
		</div>

		<div class="contact">
			<div class="contact-inner">
				Ivan Makarov <br>
				ivan.makarov@student.ttu.ee
			</div>
		</div>

		<div class="contact">
			<div class="contact-inner">
				Tatjana Shelepanova <br>
				tanya.barakuda@mail.ru
			</div>
		</div>

	</div>
</div>
