#{set title:'Stelper' /}
#{extends 'frontPage.html'/}
*{#{stylesheet src:'main.css'/}}*
*{#{stylesheet src:'bootstrap.css'/}}*
<div>
	<h1>
		Welcome to Stelper , the Ultimate Student's Helper !
	</h1>
</div>
<br>
<br>
<br>
<div style="float:left" class="well well-large">
	<h2>Share your knowledge!</h2>
</div>
<br>
<br>
<br>
<div style="float:right;" class="well well-large">
	<h2>Find answers for your questions!</h2>
</div>
<div style="float:left" class="well well-large">
	<h2>Donate your materials for a great cause!</h2>
</div>
