<fieldset>
	<legend>User informations</legend>
	<div class="field">
		<input type="hidden" value="${_arg.username}">

		<div class="field">
			<strong>First name : </strong>
		${_arg.firstName}
		</div>
		<div class="field">
			<strong>Last name : </strong>
		${_arg.lastName}
		</div>
		<div class="field">
			<strong>Birthdate : </strong>
		${_arg.birthdate}
		</div>
		<div class="field">
			<strong>About yourself : </strong> <br>
		${_arg.about}
		</div>
		<div class="field">
			<strong>Country : </strong>
		${_arg.country}
		</div>
		<div class="field">
			<strong>City : </strong>
		${_arg.city}
		</div>
	</div>
</fieldset>
</fieldset>
<fieldset>
	<legend>Email</legend>
	<div class="field">
		<strong>Email address : </strong>
	${_arg.email}
	</div>
</fieldset>

