<div id="searchPanel" class="well well-large">
#{form @Search.searchSubmit()}
	<table>
		<tr>
			<td>
		<span>
		Post Type :#{select 'postType', items :models.enums.PostType }#{/select}
		*{Post Type : <select name="postType" id="postType">}*
		*{<option value="OFFER">Offer</option>}*
		*{<option value="SEARCH">Search</option>}*
		*{<option value="UPLOAD">Upload</option>}*
			</select>
		</span>
			</td>
			<td>
		<span>
		Languages : <select multiple="true" name="languages" value="EN">
			<option value="ET">Estonian</option>
			<option value="EN">English</option>
			<option value="RU">Russian</option>
		</select>
		</span></td>
		</tr>
		<tr>
			<td>
		<span>
		Oldest Date : <input name="date" type="text" class="dp">
		</span>
			</td>
			<td>
		<span>
		Keywords : <input style="float:none;" placeholder="Type here.." name="keywords" type="text">
		</span>
			</td>
		</tr>
	</table>
	<input type="submit" class="btn btn-primary btn-large" value="Search">

#{/form}

	<script type="text/javascript">
		$(document).ready(function () {
			$('.dp').datepicker({
				dateFormat:"dd-mm-yy"
			});
			$('.dp').datepicker("setDate", new Date(2011, 01, 01));
		});
	</script>
</div>