#{extends 'main.html'/}
<h1>Add new ${postType} post</h1>
#{form @Posts.createPostSubmit() ,  enctype:'multipart/form-data'}
<fieldset>
	<legend>Add new post</legend>
	<div class="field">
		<input type="hidden" name="postType" value="${postType}">
		#{if postType.toString()=="UPLOAD"}
			<div class="field">
				<label for="attachment">Attachment : </label>
				<input id="attachment" type="file" name="langPost.attachment">
				<input id="fileName" type="hidden" name="langPost.attachmentFileName">
			</div>
		#{/if}


		<div class="field">
			<label for="language">Language : </label> <br>
			#{select items : models.enums.Language ,name:'langPost.language',id:'language'}#{/select}
		</div>

		<label for="title">Title : </label> <br>
		<input id="title" type="text" name="langPost.title" value="${params['langPost.title']}"
			   class="#{errorClass 'langPost.title' /}"/>
		<span class="error">#{error 'langPost.title' /}</span>

		<div class="field">
			<label for="postBody">Body: </label> <br>
			<TEXTAREA id="postBody" name="langPost.body" COLS="40" ROWS="4" value="${params['langPost.body']}">
			</TEXTAREA>
		</div>

		<div class="field">
			<label for="tags">Tags : </label> <br>
			<input id="tags" type="text" name="langPost.tags" size="30" value="${params['langPost.tags']}"
				   class="#{errorClass 'langPost.tags' /}"/> <span class="error">#{error 'langPost.tags' /}</span>
		</div>
	</div>
	<br>

</fieldset>
<input type="submit" class="submit" value="Submit !"/>
#{/form}
<script type="text/javascript">
	$(document).ready(function () {
		$('input#attachment').change(function () {
			var fileName = $(this).val().split('\\')[2];
			$('input#fileName').val(fileName);
		});
	});
</script>

