#{extends 'main.html'/}
<h1>Add new ${postType} post</h1>
#{form @Posts.createPostSubmit()}
<fieldset>
	<legend>Add new post</legend>
	<div class="field">
		<input type="hidden" name="postType" value="${postType}">

		<div class="field">
			<label for="language">Language : </label> <br>
			#{select items : models.enums.Language ,name:'langPost.language',id:'language'}#{/select}
		</div>

		<label for="title">Title : </label> <br>
		<input id="title" type="text" name="langPost.title" value="${params['langPost.title']}"
			   class="#{errorClass 'langPost.title' /}"/>
		<span class="error">#{error 'langPost.title' /}</span>

		<div class="field">
			<label for="postBody">Body: </label> <br>
			<TEXTAREA id="postBody" name="langPost.body" COLS="40" ROWS="4" value="${params['langPost.body']}">
			</TEXTAREA>
		</div>

		<div class="field">
			<label for="tags">Tags : </label> <br>
			<input id="tags" type="text" name="langPost.tags" size="30" value="${params['langPost.tags']}"
				   class="#{errorClass 'langPost.tags' /}"/> <span class="error">#{error 'langPost.tags' /}</span>
		</div>
	</div>
	<br>

</fieldset>
<input type="submit" class="submit" value="Submit !"/>
#{/form}


