#{extends 'main.html'/}
<div>
#{ifErrors }
	<div class="alert alert-error">
		<ul>
			#{list errors}
				<li>#{error /}</li>
			#{/list}
		</ul>
	</div>
#{/ifErrors}
	<div>
		<div class="post well well-large">
			<span>Posted At : <span class="label"> ${post.postedAt.format("dd.MM HH:mm")}</span></span>
			<span class="hidden">${post.type}</span>

		#{postRating post/}




		*{#{list items:post.posts , as:'langPost'}}*             <!--TODO implement langPost support-->
		#{set langPost:post.posts.get(0)/}
			<span class="author label label-info">by ${post.author.username}</span>

			<h3>${langPost.title}</h3>

			<p><span>${langPost.body}</span></p>
			<br>
		</div>
	#{showComments langPost/}
	*{#{/list}}*
	</div>
	<div> #{addCommentTree /}</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$('span.reply.label.label-info').on('click', function () {
			var divId = $(this).data('id');
			$('div#' + divId).slideToggle();
		});
		$('span.rating').on('click', function () {
			var type = $(this).data('type');
			window.location = '/ratings/ratepost?ratingType=' + type;
		});
	});
</script>