#{extends 'main.html'/}
<div>
#{if message!=null}
	<div class="message-notification hidden">
		<span style="padding: 5px">
	${message}
		</span>
	</div>
#{/if}
#{list items:posts, as:'post'}
	#{showPost post/}
#{/list}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.dropdown-toggle').dropdown();
//			$('a.send-private').on('click', function () {
//				var id = $(this).data('post-id');
//				$('div#' + id).();
//				return false;
//			});
			$('a.btn-close').on('click', function () {
				var id = $(this).parent().parent().attr('id');
				$('div.modal#' + id).modal('hide');
			});
//			$('input.send').on('click', function () {
//				window.test = $(this);
//				return false;
//			});
			var mes = '${message}';
			if (mes.length > 0) {
				$('div.message-notification').fadeIn();
				setTimeout(function () {
					$('div.message-notification').fadeOut();
				}, 2000);
			}
		});
	</script>
</div>

