<!DOCTYPE html>

<html>
<head>
	<title>#{get 'title' /}</title>
	<meta charset="${_response_encoding}">
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
#{get 'moreStyles' /}
	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
	<script src="@{'/public/javascripts/jquery.js'}" type="text/javascript"
			charset="${_response_encoding}"></script>
#{get 'moreScripts' /}
</head>
<body>
<div id="body">
	<div id="header">
		<div id="logo">
			<span class="logoSpan">Stelper</span>
		</div>
		<div id="login">#{loginRegisterPanel /}</div>
		<div class="topLink" style="margin-left: 100px;"><a href="/help/help">Get Help</a></div>
		<div class="topLink">Offer Help</div>
		<div class="topLink">Study Material</div>
	</div>
#{doLayout /}
	<div id="footer">FOOTER GOES HERE</div>
</div>
</body>
</html>
