<!DOCTYPE html>

<html>
<head>
	<title>#{get 'title' /}</title>
	<meta charset="${_response_encoding}">
#{stylesheet 'bootstrap.css'/}
#{stylesheet 'main.css'/}
#{stylesheet 'humanity/jquery-ui-1.9.2.custom.min.css'/}
#{script 'jquery.js'/}
#{script 'jquery-ui-1.9.2.custom.js'/}
#{script 'bootstrap.min.js'/}
#{get 'moreStyles' /}
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext' rel='stylesheet'
		  type='text/css'>
	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
#{get 'moreScripts' /}
</head>
<body>
<div id="body">
	<div id="header">

		<div id="login">
			<ul class="nav nav-pills nav-stacked">
				<li>
				#{a @Secure.login()}Login#{/a}
				</li>
				<li>
				#{a @Users.registration()}Register#{/a}
				</li>
			</ul>
		</div>
		<div class="topLinks">
			<ul class="nav nav-pills">
				<li>#{a @GuestPage.guestPage()}Stelper#{/a}</li>
				<li>#{a @GuestPage.about()}About#{/a}</li>
				<li>#{a @GuestPage.contact()}Contact#{/a}</li>
			</ul>
		</div>
	</div>
	<div id="mainContent">#{doLayout /}</div>
	<div id="footer">FOOTER GOES HERE</div>
</div>
</body>
</html>
