<!DOCTYPE html>

<html>
<head>
	<title>#{get 'title' /}</title>
	<meta charset="${_response_encoding}">
#{stylesheet 'bootstrap.css'/}
#{stylesheet 'main.css'/}
#{script 'jquery.js'/}
#{script 'bootstrap.min.js'/}
#{get 'moreStyles' /}
	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
#{get 'moreScripts' /}
</head>
<body>
<div id="body">
	<div id="header">

		<div id="login">
			<ul class="nav nav-pills nav-stacked">
				<li>
				#{a @Secure.login()}Login#{/a}
				</li>
				<li>
				#{a @Users.registration()}Register#{/a}
				</li>
			</ul>
		</div>
		<div class="topLinks">
			<ul class="nav nav-pills">
				<li>#{a @GuestPage.guestPage()}Some link 1#{/a}</li>
				<li>#{a @GuestPage.guestPage()}Some link 2#{/a}</li>
				<li>#{a @GuestPage.guestPage()}Some link 3#{/a}</li>
				<li>#{a @GuestPage.guestPage()}Some link 4#{/a}</li>
			</ul>
		</div>
	</div>
	<div id="mainContent">#{doLayout /}</div>
	<div id="footer">FOOTER GOES HERE</div>
</div>
</body>
</html>
