<!DOCTYPE html>

<html>
<head>
	<title>Stelper</title>
	<meta charset="${_response_encoding}">
#{stylesheet 'bootstrap.css'/}
#{stylesheet 'main.css'/}
#{stylesheet 'humanity/jquery-ui-1.9.2.custom.min.css'/}
#{script 'jquery.js'/}
#{script 'jquery-ui-1.9.2.custom.js'/}
#{script 'bootstrap.min.js'/}
#{get 'moreStyles' /}
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville&subset=latin,latin-ext' rel='stylesheet'
		  type='text/css'>
	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
#{get 'moreScripts' /}
</head>
<body>
<div id="body">
	<div id="header">

		<div id="login">
			Logged in as <strong>${user.username}</strong><br>
			<ul class="nav nav-pills nav-stacked">
				<li>
				#{a @Secure.logout()}Logout?#{/a}
				</li>
				<li>
				#{a @Users.profile()}Profile#{/a}
				</li>
			</ul>
		</div>
		<div class="topLinks">
			<ul class="nav nav-pills">
				<li>#{a @Main.main()}Stelper#{/a}</li>
				<li>#{a @Posts.createPost(models.enums.PostType.SEARCH)}New Search Post#{/a}</li>
				<li>#{a @Posts.createPost(models.enums.PostType.OFFER)}New Offer Post#{/a}</li>
				<li>#{a @Posts.createPost(models.enums.PostType.UPLOAD)}New Upload Post#{/a}</li>
			</ul>
		</div>
	</div>
	<div id="mainContent">
	#{doLayout /}
	</div>
	<div id="footer">FOOTER GOES HERE</div>
</div>
</body>
</html>
